<h1>Add a restaurant</h1>
<p><%= link_to 'Back To Homepage', '/restaurants' %></p>
<%= form_for @restaurant do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :opening %><br>
    <%= f.text_field :opening %>
  </p>

  <p>
    <%= f.label :closing %><br>
    <%= f.text_field :closing %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>