<h1>Add a restaurant</h1>
<%= form_for @restaurant do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>